{% extends 'base.html.twig' %}


    {% block title %}Zone d'Enchère{% endblock %}




    {% block body %}

    <main id="main-content" class="position-relative">
      <section
        class="banner overflow-hidden"
        id="current-image"
        style="background-image: url()"
      >
        <div class="container position-relative">
          <div class="row align-items-center justify-content-center gy-4">
            <div class="col-xl-7">
              <div class="banner-left">
                <h1 class="banner-title">
                  Rejoignez nos enchères exclusives et obtenez le le meilleur.
                </h1>
                <div class="input-group banner-search-box">
                  <div class="select">
                    <button class="selectBtn" data-type="Category">
                      Categories
                    </button>
                    <div class="selectDropdown">
                      <div class="option" data-type="secondOption">
                        Commerce
                      </div>
                      <div class="option" data-type="secondOption">
                        Mobile homme
                      </div>
                      <div class="option" data-type="thirdOption">
                        Appartement
                      </div>
                      <div class="option" data-type="forthOption">Maison</div>
                      <div class="option" data-type="secondOption">Chateau</div>
                      <div class="option" data-type="secondOption">Autres</div>
                    </div>
                  </div>
                  <input
                    type="search"
                    class="form-control"
                    placeholder="Je recherche..."
                  />
                  <button class="primary-btn">rechercher</button>
                </div>
              </div>
            </div>
            <div class="col-11 col-md-8 col-xl-5">
              <div class="swiper banner-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="banner-card position-relative">
                      <img
                        src="../../assets/images/auction-product-1.png"
                        alt="banner-bid"
                      />
                      <div class="banner-card-disc">
                        <a href="#">Maison avec jardin</a>
                        <p>€350K. 00</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="banner-card position-relative">
                      <img
                        src="../../assets/images/auction-product-2.png"
                        alt="banner-bid"
                      />
                      <div class="banner-card-disc">
                        <a href="#">Appartement</a>
                        <p>€350K. 00</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="banner-card position-relative">
                      <img
                        src="../../assets/images/auction-product-3.png"
                        alt="banner-bid"
                      />
                      <div class="banner-card-disc">
                        <a href="#">Chateau</a>
                        <p>€350K. 00</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="banner-card position-relative">
                      <img
                        src="../../assets/images/auction-product-4.png"
                        alt="banner-bid"
                      />
                      <div class="banner-card-disc">
                        <a href="#">Maison luxueuse </a>
                        <p>€350K. 00</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="banner-card position-relative">
                      <img
                        src="../../assets/images/auction-product-5.png"
                        alt="banner-bid"
                      />
                      <div class="banner-card-disc">
                        <a href="#">Maison de ville</a>
                        <p>€350K. 00</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="banner-card position-relative">
                      <img
                        src="../../assets/images/auction-product-6.png"
                        alt="banner-bid"
                      />
                      <div class="banner-card-disc">
                        <a href="#">Mobile home</a>
                        <p>€350K. 00</p>
                      </div>
                    </div>
                  </div>
                  *
                  <div class="swiper-slide">
                    <div class="banner-card position-relative">
                      <img
                        src="../../assets/images/auction-product-7.png"
                        alt="banner-bid"
                      />
                      <div class="banner-card-disc">
                        <a href="#">Commerce</a>
                        <p>€350K. 00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="outer-gap">
        <div class="container">
          <div class="swiper categorySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#">
                  <div class="category-card">
                    <img
                      src="../../assets/images/appartement.gif"
                      alt="category-img"
                    />
                    <h5>Appartement</h5>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <div class="category-card">
                    <img
                      src="../../assets/images/maison.gif"
                      alt="category-img"
                    />
                    <h5>Maison</h5>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <div class="category-card">
                    <img
                      src="../../assets/images/mobil.gif"
                      alt="category-img"
                    />
                    <h5>Mobile home</h5>
                  </div>
                </a>
              </div>

              <div class="swiper-slide">
                <a href="#">
                  <div class="category-card">
                    <img
                      src="../../assets/images/luxe.gif"
                      alt="category-img"
                    />
                    <h5>Maison-luxe</h5>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <div class="category-card">
                    <img
                      src="../../assets/images/chateau.gif"
                      alt="category-img"
                    />
                    <h5>Chateau</h5>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <div class="category-card">
                    <img
                      src="../../assets/images/commerce.png"
                      alt="category-img"
                    />
                    <h5>Commerce</h5>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#">
                  <div class="category-card">
                    <img
                      src="../../assets/images/terrain.gif"
                      alt="category-img"
                    />
                    <h5>Terrain</h5>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </section>
      <section class="outer-gap">
        <div class="container">
          <h2 class="section-title">Vente aux enchères en direct</h2>
          <div class="row gy-4">
            <div class="col-lg-6">
              <div class="auction-card">
                <div class="card-image left-card-image">
                  <img
                    src="../../assets/images/auction-product-3.png"
                    class="h-100 w-100"
                    alt="auction-card-img"
                  />
                  <div class="timer-wrapper">
                    <div class="timer-inner"></div>
                  </div>
                </div>
                <!-- </div> -->
                <div class="card-content">
                  <h4>Maison luxueuse</h4>
                  <p>Enchère actuelle<span>589.00€</span></p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <a href="/bidDetail" class="primary-btn"
                      >Enchérir maintenant</a
                    >
                    <button class="like-btn">
                      <i class="fa-regular fa-heart"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="auction-card-small">
                <div class="row gy-3">
                  <div class="col-md-6">
                    <div class="auction-card">
                      <div class="card-image">
                        <img
                          src="../../assets/images/auction-product-2.png"
                          class="img-fluid"
                          alt="auction-card-img"
                        />
                        <div class="timer-wrapper">
                          <div class="timer-inner">
                            <span class="days">
                              <span class="">0</span>
                              <span class="">D</span> </span
                            >:
                            <span class="hours">
                              <span class="">1</span>
                              <span class="">H</span> </span
                            >:
                            <span class="minutes">
                              <span class="">60</span>
                              <span class="">M</span> </span
                            >:
                            <span class="seconds">
                              <span class="">40</span>
                              <span class="">S</span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="card-content">
                        <h4>Appartement</h4>
                        <p>Enchère actuelle<span>589.00€</span></p>
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <a href="/bidDetail" class="primary-btn"
                            >Enchérir maintenant</a
                          >
                          <button class="like-btn">
                            <i class="fa-regular fa-heart"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="auction-card">
                      <div class="card-image">
                        <img
                          src="../../assets/images/auction-product-1.png"
                          class="img-fluid"
                          alt="auction-card-img"
                        />
                        <div class="timer-wrapper">
                          <div class="timer-inner">
                            <span class="days">
                              <span class="">0</span>
                              <span class="">D</span> </span
                            >:
                            <span class="hours">
                              <span class="">1</span>
                              <span class="">H</span> </span
                            >:
                            <span class="minutes">
                              <span class="">60</span>
                              <span class="">M</span> </span
                            >:
                            <span class="seconds">
                              <span class="">40</span>
                              <span class="">S</span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="card-content">
                        <h4>Grande maison avec jardin</h4>
                        <p>Enchère actuelle<span>589.00€</span></p>
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <a href="/bidDetail" class="primary-btn"
                            >Enchérir maintenant</a
                          >
                          <button class="like-btn">
                            <i class="fa-regular fa-heart"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="auction-card">
                      <div class="card-image">
                        <img
                          src="../../assets/images/auction-product-4.png"
                          class="img-fluid"
                          alt="auction-card-img"
                        />
                        <div class="timer-wrapper">
                          <div class="timer-inner">
                            <span class="days">
                              <span class="">0</span>
                              <span class="">D</span> </span
                            >:
                            <span class="hours">
                              <span class="">1</span>
                              <span class="">H</span> </span
                            >:
                            <span class="minutes">
                              <span class="">60</span>
                              <span class="">M</span> </span
                            >:
                            <span class="seconds">
                              <span class="">40</span>
                              <span class="">S</span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="card-content">
                        <h4>Maison de style méditerranéen des années 1987</h4>
                        <p>Enchère actuelle<span>589.00€</span></p>
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <a href="/bidDetail" class="primary-btn"
                            >Enchérir maintenant</a
                          >
                          <button class="like-btn">
                            <i class="fa-regular fa-heart"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="auction-card">
                      <div class="card-image">
                        <img
                          src="../../assets/images/auction-product-5.png"
                          class="img-fluid"
                          alt="auction-card-img"
                        />
                        <div class="timer-wrapper">
                          <div class="timer-inner"></div>
                        </div>
                      </div>
                      <div class="card-content">
                        <h4>Maison de ville</h4>
                        <p>Enchère actuelle<span>589.00€</span></p>
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <a href="/bidDetail" class="primary-btn"
                            >Enchérir maintenant</a
                          >
                          <button class="like-btn">
                            <i class="fa-regular fa-heart"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 text-center">
              <a href="#" class="primary-btn dark-btn mt-3 mt-md-5"
                >voir tous les enchères</a
              >
            </div>
          </div>
        </div>
      </section>
      <section class="outer-gap inner-gap bg-light">
        <div class="container">
          <h2 class="section-title">Enchères à venir</h2>
          <div class="row gy-4">
            <div class="col-lg-6">
              <div class="upcoming-auction position-relative bg-orange">
                <div class="row gy-4">
                  <div class="col-md-6 text-white position-relative">
                    <h3 class="upcoming-title line-clamp line-clamp-2">
                      Vintage
                    </h3>
                    <p class="line-clamp line-clamp-4">
                      Construite avant les années 1880. Ce bien se distingue par
                      son architecture unique, ses matériaux d’époque et ses
                      détails authentiques qui racontent une histoire.
                    </p>
                    <a href="/bidDetail" class="primary-btn light-btn"
                      >Enchérir maintenant</a
                    >
                  </div>
                  <div class="col-md-6 position-relative">
                    <div class="upcoming-img">
                      <img
                        src="../../assets/images/thumb-auction-img-3.png"
                        class="w-100 h-100 object-contain"
                        alt="Final Match Football Studs"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="upcoming-auction position-relative bg-blue">
                <div class="row gy-4">
                  <div class="col-md-6 text-white position-relative">
                    <h3 class="upcoming-title line-clamp line-clamp-2">
                      Mobil-home
                    </h3>
                    <p class="line-clamp line-clamp-4">
                      En France, de plus en plus de personnes sont séduites par
                      l’idée d’acquérir un mobil-home comme résidence principale
                      ou secondaire..
                    </p>
                    <a href="/bidDetail" class="primary-btn light-btn"
                      >Enchérir maintenant</a
                    >
                  </div>
                  <div class="col-md-6 position-relative">
                    <div class="upcoming-img">
                      <img
                        src="../../assets/images/thumb-auction-img-1.png"
                        class="w-100 h-100 object-contain"
                        alt="Ancient Greek Goddess of Victory"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="recent-auction outer-gap">
        <div class="container">
          <h2 class="section-title">Enchères récentes</h2>
          <div class="auction-card-small">
            <div class="row gy-4 justify-content-center">
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="auction-card">
                  <div class="card-image">
                    <img
                      src="../../assets/images/recent-auction-1.png"
                      alt="auction-card-img"
                    />
                    <div class="timer-wrapper">
                      <div class="timer-inner"></div>
                    </div>
                  </div>
                  <div class="card-content">
                    <a href="#" class="card-title"
                      >Mendinib top violin from best artist</a
                    >
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <p class="p-0">Enchère actuelle<span>589.00€</span></p>
                      <button class="like-btn">
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="auction-card">
                  <div class="card-image">
                    <img
                      src="../../assets/images/recent-auction-2.png"
                      alt="auction-card-img"
                    />
                    <div class="timer-wrapper">
                      <div class="timer-inner"></div>
                    </div>
                  </div>
                  <div class="card-content">
                    <a href="#" class="card-title"
                      >An antique vintage landline telephone</a
                    >
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <p class="p-0">Enchère actuelle<span>589.00€</span></p>
                      <button class="like-btn">
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="auction-card">
                  <div class="card-image">
                    <img
                      src="../../assets/images/recent-auction-3.png"
                      alt="auction-card-img"
                    />
                    <div class="timer-wrapper">
                      <div class="timer-inner"></div>
                    </div>
                  </div>
                  <div class="card-content">
                    <a href="#" class="card-title"
                      >Old baseball bat with ball and weathered glove</a
                    >
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <p class="p-0">Enchère actuelle<span>589.00€</span></p>
                      <button class="like-btn">
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="auction-card">
                  <div class="card-image">
                    <img
                      src="../../assets/images/recent-auction-4.png"
                      alt="auction-card-img"
                    />
                    <div class="timer-wrapper">
                      <div class="timer-inner"></div>
                    </div>
                  </div>
                  <div class="card-content">
                    <a href="#" class="card-title"
                      >Heritage french style home</a
                    >
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <p class="p-0">Enchère actuelle<span>589.00€</span></p>
                      <button class="like-btn">
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="auction-card">
                  <div class="card-image">
                    <img
                      src="../../assets/images/recent-auction-5.png"
                      alt="auction-card-img"
                    />

                    <div class="timer-wrapper">
                      <div class="timer-inner"></div>
                    </div>
                  </div>
                  <div class="card-content">
                    <a href="#" class="card-title"
                      >Arabic old style patterned teapot</a
                    >
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <p class="p-0">Enchère actuelle<span>589.00€</span></p>
                      <button class="like-btn">
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="auction-card">
                  <div class="card-image">
                    <img
                      src="../../assets/images/recent-auction-6.png"
                      alt="auction-card-img"
                    />

                    <div class="timer-wrapper">
                      <div class="timer-inner"></div>
                    </div>
                  </div>
                  <div class="card-content">
                    <a href="#" class="card-title">Vintage wall clock</a>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <p class="p-0">Enchère actuelle<span>589.00€</span></p>
                      <button class="like-btn">
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="auction-card">
                  <div class="card-image">
                    <img
                      src="../../assets/images/recent-auction-7.png"
                      alt="auction-card-img"
                    />

                    <div class="timer-wrapper">
                      <div class="timer-inner"></div>
                    </div>
                  </div>
                  <div class="card-content">
                    <a href="#" class="card-title"
                      >Premium updated Black and white mountain bike</a
                    >
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <p class="p-0">Enchère actuelle<span>589.00€</span></p>
                      <button class="like-btn">
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="auction-card">
                  <div class="card-image">
                    <img
                      src="../../assets/images/recent-auction-8.png"
                      alt="auction-card-img"
                    />

                    <div class="timer-wrapper">
                      <div class="timer-inner"></div>
                    </div>
                  </div>
                  <div class="card-content">
                    <a href="#" class="card-title">Spinning vinyle from 1968</a>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <p class="p-0">Enchère actuelle<span>589.00€</span></p>
                      <button class="like-btn">
                        <i class="fa-regular fa-heart"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="outer-gap">
        <div class="container">
          <div class="subscribe-wrapper position-relative">
            <div
              class="row align-items-center justify-content-center position-relative"
            >
              <div class="col-lg-6 text-white">
                <h3 class="display-6 fw-bold mb-2">
                  Vous voulez nous rejoindre ?
                </h3>
                <p class="mb-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Pulvinar etiam quam lacus suspendiss.
                </p>
                <form class="subscribe-form">
                  <input
                    type="search"
                    class="form-control"
                    placeholder="Email "
                  />
                  <button type="submit" class="rounded-circle bg-dark">
                    <i class="fa-solid fa-arrow-right"></i>
                  </button>
                </form>
              </div>
              <div class="col-lg-5">
                <div class="subscribe-img d-none d-lg-block">
                  <img
                    src="../../assets/images/join-us.png"
                    class="w-100 rounded-5"
                    alt="subscribe-img"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    {% endblock %}

  
